@import "../../typeConstants";
.catCard {
    padding: 20px;
    cursor: pointer;

    .catCardImages {
        display: flex;
        width: 196px;
        height: 276px;

        .catImageSizes {
            width: inherit;
            height: inherit;
            border-radius: 25px;
        }
    }

    
}

.categoryLink {
    text-decoration: none;
    color: $black-color;
    
    &:hover {
        background-color: gainsboro;
    }
}