.genresTable{
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    

    .genreType{
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 25px;
        padding: 5px 15px;
        font-size: 18px;
        

        &:not(:first-child){
            margin-left: 10px;
        }
    }
}