.genresTable{
    width: 350px;
    height: 80px;
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    flex-flow: row wrap;
    
    .genreType{
        color: #FFFFFF;
        background: rgba(255, 255, 255, 0.12);
        border-radius: 25px;
        padding: 6px 20px;
        font-size: 18px;
        

        &:not(:first-child){
            margin-left: 10px;
        }
    }
}