.basket{
    position: absolute;
    z-index: 1;
    background-color: inherit;
    border-radius: 10px;
    border: 2px solid black;
    right: 0;

    .basketList{
        list-style: none;
        
        .emptyBasket{
            margin-right: 25px;
        }

        .basketItem{
            display: flex;
            align-items: center;
            text-align: left;
            font-size: 18px;
            color:black;
            margin: 10px 0; 

            &:hover{
                cursor: default;
            }

            .basketMovieTitle{
                width: 200px;
                margin-right: 60px;
            }
             
            .removeItem{
                font-size: 12px;
                position: absolute;
                right: 10px;
                padding: 4px;
                border: 1px solid black;
                border-radius: 5px;

                &:hover{
                    cursor: pointer;
                    transform: scale(1.2);
                    border: 1px solid white;
                    color: white;
                    background-color: black;
                }
            }
        }

        .basketPictureSpan{
            width: 60px;
            height: 80px;
            margin: 0 10px 5px 10px ;
            
            .basketPicture{
                width: inherit;
                height: inherit;
            }
        }

    }
}