.basket{
    .basketList{
        list-style: none;
    
        .basketItem{
            text-align: left;
            font-size: 18px;
            color:black;
        }
        .basketItem:hover{
            cursor: pointer;
            font-size: 20px;
            background-color: #b3b3b3;
        }
    }
}