
.headerButton{
    
    .buttonGenres{
        position: absolute;
        width: 168px;
        height: 40px;
        left: 1020px;
        top: 30px;
        background: #FFFFFF;
        border-style: none;
        border-radius: 25px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #B80000;
    }

    .buttonBasket{
        position: absolute;
        width: 168px;
        height: 40px;
        left: 1203px;
        top: 30px;
        background: #FFFFFF;
        border-style: none;
        border-radius: 25px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #B80000;
    }

    :is(.buttonBasket, .buttonGenres):hover{
        cursor: pointer;
    }
}