@import "../typeConstants";

.headerButtonGroup{
    display: flex;
    margin-left: 40px;
}

.headerButton{
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:first-child){
        margin-left: 10px;
    }

    :is(.buttonGenres, .buttonBasket){
        position: relative;
        width: 168px;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid $black-color;
        border-radius: 25px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $black-color;
    }

    .basketLength{
        background-color: gainsboro;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 55px;
        
    }

    :is(.buttonBasket, .buttonGenres, .basketLength):hover{
        cursor: pointer;
    }
}