@import '../typeConstants';

.rootHeader {
    background-color: $nav-color;
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;

    .logo {
        width: 70px;
        height: 70px;
        background-image: url('../Images/video-camera-small.png');
        background-repeat: no-repeat;
        background-size: 70px;
        border-radius: 50%;
        border: 3px solid $black-color;
    }

    .headerTitlelink {
        display: flex;
        align-items: center;
        font-style: italic;
        font-size: 40px;
        font-weight: 800;
        color: $black-color;
        cursor: pointer;
        text-decoration: none;

        .logo {
            width: 60px;
            height: 60px;
            background-image: url('../Images/video-camera-small.png');
            background-repeat: no-repeat;
            background-size: 60px;
            border-radius: 50%;
            border: 3px solid $black-color;
            margin-right: 10px;
        }
    }

    .searchbox {
        width: 500px;
        background-color: #FFFFFF;
        border-style: none;
        border-radius: 25px;

        .searchInput {
            display: flex;
            align-items: center;
            width: 100%;

            .headerInput {
                width: 85%;
                border-style: none;
                height: 40px;
                font-size: 18px;
                outline: none;
                margin-left: 40px;

                &::placeholder {
                    color: $black-color;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                }

            }

            .searchIcon {
                position: absolute;
                margin-left: 10px;
                fill: $black-color;
            }

            &.true {
                border-radius: 25px 25px 0 0;
                border-bottom: 1px solid $black-color;
                background-color: #FFFFFF;
            }
        }


    }

}