@import '../typeConstants';

.rootHeader{
    background-color: $nav-color;
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;

    .logo{
        width: 70px;
        height: 70px;
        background-image: url('../Images/video-camera-small.png');
        background-repeat: no-repeat;
        background-size: 70px;
        border-radius: 50%;
        border: 3px solid $black-color;
    }

    .headerTitlelink{
        display: flex;
        align-items: center;
        font-style: italic;
        font-size: 40px;
        font-weight: 800;
        color: $black-color;
        cursor: pointer;
        text-decoration: none;

        .logo{
            width: 60px;
            height: 60px;
            background-image: url('../Images/video-camera-small.png');
            background-repeat: no-repeat;
            background-size: 60px;
            border-radius: 50%;
            border: 3px solid $black-color;
            margin-right: 10px;
        }
    }
   
    .searchbox{
        display: flex;
        align-items: center;
        
        .headerInput{
            background-color: #FFFFFF;
            border-style: none;
            border-radius: 25px;
            width: 500px;
            height: 40px;
            font-size: 20px;
            padding: 0 20px;

            &::placeholder{
                color: $black-color;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
            }
        }

    }
    
}