.horizontalCard{
    width: 650px;
    height: 334px;
    background: #000000;
    border-radius: 25px 0px;
    
    .trailerInfo{
        position: absolute;
        margin-top: 163px;
        margin-left: 241px;
    }
}