.detailPageRoot {
    display: flex;
    margin-top: 20px;
    align-items: center;

    span,
    p {
        font-size: 20px;
    }

    span {
        margin: 0 2px;
        font-weight: bold;
    }

    .movieDetailInfo {
        margin-left: 100px;

        .movieTitle {
            font-size: 50px;
            margin: 0;
        }

        .movieOverview {
            width: 700px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

}

.detailPageRoot>*>* {
    cursor: default;
}