.cardHeader{
    overflow: hidden;
    width: 300px;
    height: 48px;
    
    .cardTitle{
        font-style: italic;
        font-weight: 800;
        font-size: 30px;
        line-height: 56px;
        color: #FEFEFE;
        
    }

}