@import "../../typeConstants";

.watchPart{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.watchScreen{
    width: 1000px;
    height: 600px;
    display: inherit;
    justify-content: center;
    align-items: center;

    .signalError{
        position: absolute;
        width: 888px;
        height: 600px;
        background-image: url("../../Images/NoSignal.png");
        background-repeat: no-repeat;
        opacity: 0.15;
    }

    .player{
        height: 100px;
        width: inherit;
        background: rgba(0, 0, 0, 0.642);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
        .control{
            margin-left: 20px;
            display: flex;
            
            .play{
                .playerPlay{
                    width: 40px;
                    height: 40px;
                    fill: white;
                    cursor: pointer;

                    &.false{
                        display: none;
                    }
        
                }
            }
            
            .sound{
                margin-left: 15px;
              
                .playerSound{
                    width: 40px;
                    height: 40px;
                    fill: white;
                    cursor: pointer;

                    &.false{
                        display: none;
                    }
                }
            }
            
        }
        
        .movieName > h5{
            font-size: 20px;
            color: white;
        }

        .showRecommend > h5{
            font-size: 20px;
            color: white;
        }
    }
}

 

.recommendPart{
    width: 380px;
    height: 600px;
    background-color: $black-color;
}