@import "../../typeConstants";

.watchPart {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.watchScreen {
    width: 1000px;
    height: 600px;
    display: inherit;
    justify-content: center;
    align-items: flex-end;

    &.false {
        width: 1400px;
        height: 600px;
        transition: 0.6s ease-out;
    }

    &.true {
        transition: 0.6s ease-out;
    }

    .signalError {
        position: absolute;
        width: 888px;
        height: 600px;
        background-image: url("../../Images/NoSignal.png");
        background-repeat: no-repeat;
        opacity: 0.15;
    }

    .loader {
        position: absolute;
        margin-bottom: 270px;
        border: 10px solid #EAF0F6;
        border-radius: 50%;
        border-top: 10px solid $nav-color;
        width: 100px;
        height: 100px;
        animation: spinner 4s linear infinite;

        &.false {
            display: none;
        }
    }

    @keyframes spinner {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .player {
        height: 70px;
        background: rgba(0, 0, 0, 0.642);
        width: inherit;
        display: flex;
        align-items: center;
        z-index: 1;

        .controlPanel {
            display: inherit;
            align-items: center;
            justify-content: space-between;
            width: inherit;
            z-index: 1;

            .control {
                margin-left: 20px;
                display: inherit;
                align-items: center;

                .play {
                    display: inherit;
                    align-items: inherit;

                    .playerPlay {
                        width: 30px;
                        height: 30px;
                        fill: white;

                        &.false {
                            display: none;
                        }
                    }
                }

                .sound {
                    margin-left: 15px;
                    display: inherit;
                    align-items: inherit;

                    .playerSound {
                        width: 30px;
                        height: 30px;
                        fill: white;

                        &.false {
                            display: none;
                        }
                    }
                }

                .timer {
                    margin-left: 15px;

                    .timerPart {
                        font-size: 18px;
                        color: white;
                    }
                }
            }

            .showRecommend {
                display: inherit;

                .fullScreen {
                    fill: white;
                    width: 30px;
                    height: 30px;
                    margin-right: 20px;
                }
            }
        }

        :is(.playerPlay, .playerSound, .fullScreen):hover {
            transform: scale(1.2);
            cursor: pointer;
        }

        .movieName {
            position: absolute;
            width: inherit;

            h5 {
                font-size: 20px;
                color: white;
            }

        }
    }

}



.recommendPart {
    height: 600px;
    background-color: $black-color;
    margin-left: 20px;

    &.false {
        display: none;
    }

    .recommendHeader {
        font-size: 24px;
        color: white;
        background-color: $score-color;
        font-weight: bold;
    }

    .recommendContent {
        overflow-y: scroll;
        height: inherit;
        height: 570px;
    }

    .recommendCard {
        display: flex;
        margin-top: 10px;
        margin-left: 10px;
        cursor: pointer;
        border-left: 2px solid transparent;
        
        .recoCardImg {
            border: 2px solid $score-color;
            width: 70px;
            height: 110px;
            
            .image {
                width: inherit;
                height: inherit;
            }

        }
        
        .description{
            font-size: 16px;
            margin-left: 10px;
            color: white;
        }

        &:hover{
            border-left: 2px solid $score-color;
        }
    }

}