.watchPart{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.watchScreen{
    width: 1000px;
    height: 600px;
    background-color: red;
}

.recommendPart{
    width: 380px;
    height: 600px;
    background-color: yellow;
}