.categoryPage{
    
    .searchResult{
        font-size: 18px;
        display: flex;
        padding-top: 10px;
        margin-left: 30px;
        width: 600px;

        .searchResSpan{
            margin: 0 5px;
            font-weight: bold;
        }
    }

    .categoryMovies{
        margin-left: 30px;
        display: grid;
        grid-template-columns: repeat(2,minmax(100px,700px));
        grid-gap: 10px;
    }

    ul{
        margin: 0;
        padding: 0;
    }
}