@import "../../typeConstants";

.searchResultPage{
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-evenly;
 

    .verticalFilter{
        width: 300px;
       
        .verticalFilterPart{
            background-color: white;
            min-height: 408px;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            margin-top: 40px;

            .verticalFilterItems{
                padding: 10px 20px;
                list-style: none;

                .verticalFilterItem{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    font-size: 18px;
                    padding: 2px 5px;
                    cursor: pointer;

                    .checkbox{
                        margin-right: 5px;
                        width: 15px;
                        height: 15px;
                        accent-color: $score-color;
                    }

                    &:hover{
                        background-color: rgb(72, 72, 72, 0.1);
                        border-radius: 5px;
                    }
                }

            }
        }
    }

    .searchResultSide{
        width: 1000px;

        .cardDetail{
            background-color: $black-color;
            display: flex;
            align-items: center;
            margin-top: 10px;
            box-shadow: 0px 3px 8px rgba(0, 0, 0, 1);
            border-radius: 10px;
            padding: 10px; 
            cursor: pointer;

            &:hover{
                background-color: $score-color;

                .detailImage{
                    border: 2px solid white;
                }
            }

            span{
                padding: 0 50px;
                color: white;
            }

            .detailImage{
                height: 180px;
                width: 120px;
                border: 2px solid transparent;
                border-right: 2px solid $score-color;
            }
        }

        .searchResult{
            margin-left: 0;
        }
    }
}