@import "../../typeConstants";

.pagination{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;

    .paginationList{
        text-decoration: none;
    }
     
    .paginationListItem{
        padding:8px 14px;
        font-size:20px;
        border: 1px solid $nav-color;
        border-radius: 20px;
        color: $nav-color;
    }
    .paginationListItemActive{
        padding:8px 14px;
        font-size:20px;
        border: 1px solid $nav-color;
        border-radius: 20px;
        background-color: $nav-color;
        color:white;
        opacity: 0.7;
    }

    .paginationListItem:not(:first-child){
        margin-left:10px;
    }
    .paginationListItemActive:not(:first-child){
        margin-left:10px;
    }

    .paginationListItem:hover{
        cursor: pointer;
        background-color: $nav-color;
        color:white;
        opacity: 0.7;
    }
    .paginationListItemActive:hover{
        cursor: pointer;
        background-color: #000000;
        color:white;
        opacity: 0.2;
    }
    .prev, .next{
        margin-left: 10px;
        margin-right: 10px;
        padding: 0 10px;
        background-color: #000000;
        color:white;
        opacity: 0.2;
        border: 1px solid #000000;
        border-radius: 20px;
    }

    :is(.prev, .next):hover{
        cursor: pointer;
        transform: scale(1.3);
    }
}