.App {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: auto;
  max-width: 1400px;
  height: auto;
  min-height: 500px;
  background-color: #F0F0F0;
 
  .genresFilter{
    position: absolute;
    width: 200px;
    z-index: 1;
    background-color: yellow;
    margin-left: 1000px;
  }
}


