.cardOverview{
    position: absolute;
    width: 367px;
    height: 57px;
    left: 241px;
    top: 86px;
    color: #FFFFFF;
    text-align: left;
    width: 367px;
    height: 57px;
    overflow: hidden;
    padding-bottom: 5px;
    
    .overview{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        
    }
}